<configuration>
    <property name="LOG_PATH" value="/app/logs" />
    <timestamp key="currentDate" datePattern="dd-MM-yyyy" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Datei-Name mit Datum -->
        <file>${LOG_PATH}/${currentDate}-paperless.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
